* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg-desktop.svg");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: white;
    min-height: 120vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
}
/* 
header {
    position: fixed;
    top: 10px;
    left: 10px;
} */

.main_container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.img_container {
    height: 80%;
}

.main_img {
    height: 27rem;
}


.disc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 50%;
    padding-left: 90px;
}

h1 {
    font-size: 40px;
    /* font-size: 3vw; */
    font-weight: 600;
    font-family: sans-serif;
}

p {
    font-family: system-ui;
    font-size: 19px;
    /* font-size: 1.3vw; */
    padding-top: 25px;
    padding-bottom: 25px;
}

button {
    padding: 15px 0px;
    width: 195px;
    border-radius: 28px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: hsl(257, 40%, 49%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25%);
}

button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    transition-duration: 0.5s;
}

.icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 70px;
    /* right: 80px;
    bottom: 10%; */
}

.icon {
    border-radius: 50%;
    width: 50px;
    border: 2px solid white;
    margin: 10px;
    padding: 15px;
}

.icon:hover {
   color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition-duration: 0.5s;
}

@media (max-width: 1080px) {
    .container {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        /* padding: 2% 5%; */
        text-align: center;
    }

    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .img_container {
        height: 100%;
        max-height: 260px;
    }

    .main_img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .disc_container {
        width: 90%;
        padding: 0 10px;
    }

    header img {
        width: 75%; 
        max-width: 200px; 
        left: 0;
    }
    

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
        padding: 15px;
    }

    button {
        width: 100%;
        max-width: 250px;
    font-size: 15px;
        margin: 10px auto; /* Center it */
        display: block; /* Ensure it behaves properly */
    }  

    .icons {
        justify-content: center;
        right: 0;
    margin-top: 50px;

    }
}

.icon {
    padding: 9px;
    margin: 15px 10px;
}


    /* @media (max-width:1080px){
    
        .container {
        justify-content: center;
        align-items: center;
            padding: 2% 3%;
    
        }
        .main_container {
            flex-direction: column;
        }
    
        .main_img {
            height: 15rem;
        }
    
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }

        button {
    width: 140px;

        }
    
    } */